{% extends 'admin/index.html'%}

{% block adminContent %}
    <div class="box-body">
        <h3><strong>课程信息</strong></h3>
    </div>

    <div class="box-body">
        <a class="btn btn-primary" href="{{ url_for('admin.insert') }}">添加课程</a>
    <br/><br/>
            <h4><strong>当前学期课程信息</strong></h4>
                    <table class="table table-bordered table-hover definewidth m10">
            <thead>
    <tr>
        <th>课程名称</th>

        <th>管理菜单</th>
    </tr>
    </thead>
    {% for course in list %}
            {% if course.term_id == term.id %}
        <tr>
                <td>{{ course.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('admin.edit',id=course.id) }}">编辑</a>&nbsp;
                    <a class="btn btn-danger" href="{{ url_for('admin.delete',id =course.id) }}">删除</a>&nbsp;
                    <a class="btn btn-info" href="{{ url_for('admin.member', id=course.id) }}">成员管理</a>
                </td>
        </tr>
            {% endif %}
    {% endfor %}
                    </table>

    <br>
    <h4><strong>以往学期课程信息</strong></h4>
    <table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>课程名称</th>

        <th>管理菜单</th>
    </tr>
    </thead>
        {% for course in list %}
            {% if course.term_id < term.id %}
                <tr>
                <td>{{ course.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('admin.edit',id=course.id) }}">编辑</a>&nbsp;
                    <a class="btn btn-danger" href="{{ url_for('admin.delete',id =course.id) }}">删除</a>&nbsp;
                    <a class="btn btn-info" href="{{ url_for('admin.member', id=course.id) }}">成员管理</a>
                </td>
                </tr>
            {% endif %}
    {% endfor %}
       </table>
    </div>
{% endblock %}