{% extends 'admin/base.html'%}

{% block adminContent %}
        <a class="btn btn-primary" href={{ url_for('admin.insert') }}>添加</a>
    <br>
    <br>

    <table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>课程名称</th>




        <th>管理菜单</th>
    </tr>
    </thead>
        {% for course in list %}

        <tr>
                <td>{{ course.name }}</td>


                <td>
                    <a class="btn btn-primary" href="{{ url_for('admin.delete',id =course.id) }}">删除</a>
                <a class="btn btn-primary" href="{{ url_for('admin.edit',id=course.id) }}">编辑</a>
                    <a class="btn btn-primary" href="{{ url_for('admin.member', id=course.id) }}">成员管理</a>
                </td>


        </tr>
    {% endfor %}


       </table>

{% endblock %}