{% extends "layout.html" %}

<title>{% block page_title %}

    学生页面

    {% endblock %}
  </title>


{% block index %}
    <li><a href="">首页</a></li>
{% endblock %}

{% block center %}

        <li class="active">
            <a href="">个人中心</a>
        </li>

{% endblock %}

{% block content %}
    <br/>
    <br/>
    <!-- left menu starts -->
    <div class="col-sm-2 col-md-10 col-lg-2">
        <div class="sidebar-nav">
            <div class="nav-canvas">
                <div class="nav-sm nav nav-stacked">
                </div>
                <ul class="nav nav-pills nav-stacked main-menu">
                    <li class="nav-header">
                        {% block navTeHomepage %}
                            <a class="ajax-link" href="{{ url_for('admin.home') }}">
                                <i class="glyphicon glyphicon-home"></i><span>我的主页</span>
                            </a>
                        {% endblock %}
                    </li>
                    <li>
                        {% block navCommunicate %}
                            <a class="ajax-link"
                               href="{{ url_for('student.team')}}" >
                                <i class="glyphicon glyphicon-globe"></i><span>学生团队</span>
                            </a>
                        {% endblock %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% block student %}

        <!--显示已选课程,点击课程进入当前课程目录-->

        <div class="col-sm-10 col-md-10 col-lg-10 content">
            <div class="row">
                {% block stuTeamContent %}
                {% endblock %}


            </div>
        </div>


    {% endblock %}


    {% endblock %}