{% extends "layout.html" %}

{% block index %}
    <li><a href="">首页</a></li>
{% endblock %}

{% block center %}

        <li class="active">
            <a href="">个人中心</a>
        </li>

{% endblock %}

{% block content %}

<aside class="main-sidebar" style="min-height: 800px">
  <section class="sidebar">
  <ul class="sidebar-menu">
  <li class="nav-header">
                        {% block navTeHomepage %}
                            <a class="ajax-link" href="{{ url_for('student.home') }}">
                                <i class="glyphicon glyphicon-home"></i><span>我的主页</span>
                            </a>
                        {% endblock %}
                    </li>

                    <li>
                        {% block navCheckterm %}
                            <a class="ajax-link" href="{{ url_for('student.checkterm') }}">
                                <i class="glyphicon glyphicon-globe"></i><span>查看学期</span>
                            </a>
                        {% endblock %}
                    </li>
                    <li>
                        {% block navCourseSet %}
                            <a class="ajax-link"
                               href="{{ url_for('student.course') }}">
                                <i class="glyphicon glyphicon-list-alt"></i><span>查看课程</span>
                            </a>
                        {% endblock %}
                    </li>
                    {#                    <li>#}
                    {#                        {% block navCourseManage %}#}
                    {#                            <a class="ajax-link" href="#">#}
                    {#                                <i class="glyphicon glyphicon-education"></i><span>课程管理</span>#}
                    {#                            </a>#}
                    {#                        {% endblock navCourseManage %}#}
                    {#                    </li>#}

                    <li>
                        {% block navTeamAudit %}
                            <a class="ajax-link"
                               href="{{ url_for('student.team')}}">
                                <i class="glyphicon glyphicon-ok"></i><span>团队管理</span>
                            </a>
                        {% endblock %}
                    </li>

  </ul>
  </section>
  </aside>
    <div class="content-wrapper">
    <section class="content">
<div class="box" style="min-height: 735px">
                {% block studentContent %}
                {% endblock %}
</div>
                </section>
    </div>
    




{% endblock %}
