{% extends "student/index.html" %}

{% block studentContent %}
        <div class="box-header">
    <h3><strong>课程资源管理</strong></h3>
    </div>
    <div class="box-body">
    <div>
    <a href="{{ url_for('student.course_source', courseid=courseid) }}" class="btn btn-primary">全部分类</a>
    {% for tag in tags %}
        {% if tagid==tag.id|string %}
    <a href="{{ url_for('student.course_source_tag', courseid=courseid, tagid=tag.id) }}" class="btn btn-primary active">{{ tag.name }}</a>
        {% else %}
        <a href="{{ url_for('student.course_source_tag', courseid=courseid, tagid=tag.id) }}" class="btn btn-primary">{{ tag.name }}</a>
        {% endif %}
    {% endfor %}
{% if file_records|length>0 %}
     <a style="float: right" href="{{ url_for('teacher.source_file_download_zip', courseid=courseid) }}" class="btn btn-primary">打包下载</a>
    {% endif %}
</div>




    <table class="table">
        {% if file_records|length>0 %}
        <thead>
        <td>资源名</td>
        <td>上传者</td>
        <td>操作</td>
        </thead>
    {% else %}
    <p>文件列表为空</p>
    {% endif %}
        {% for i in range(file_num) %}
        <tr>
            <td>
                {{ file_records[i].name }}
            </td>
            <td>
                {{ user_names[i] }}
            </td>
            <td>
                <a class="btn btn-primary" href="{{ url_for('student.course_source_download', courseid=courseid,fileid=file_records[i].id) }}">下载</a>
            </td>
        </tr>
        {% endfor %}
    </table>

        <br><br>



     <br>
     <a class="btn btn-primary" href="{{ url_for('student.course') }}">返回</a>

    </div>



{% endblock %}