{% extends "student/base.html" %}

{% block studentContent %}

<!DOCTYPE html>
<html>
<head>
     <link href="js/bootstrap.min.css" rel="stylesheet">
   <script src="js/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="Css/style.css" />
    <script type="text/javascript" src="Js/jquery.js"></script>
    <script type="text/javascript" src="Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="Js/bootstrap.js"></script>
    <script type="text/javascript" src="Js/ckform.js"></script>
    <script type="text/javascript" src="Js/common.js"></script>
    <script type="text/javascript" src="js/showdate.js"></script>
    <style type="text/css">
        body {font-size: 20px;
             padding-bottom: 40px;
             font-size:17px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
<body>
<h3><strong>基本信息：</strong></h3>
   <table class="table table-condensed">
       {% if endtime.end_time > nowtime %}
                <tr>
	              <td width="18%" height="30" align="center">学期名称：</td>
	              <td width="82%" class="word_grey">{{ list[0].name }}</td>
	            </tr>
				<tr>
	              <td width="18%" height="30" align="center">开始时间：</td>
	              <td width="82%" class="word_grey">{{ list[0].start_time }}</td>
	            </tr>
	            <tr>
	              <td height="28" align="center">结束时间：</td>
	              <td width="82%" class="word_grey">{{ list[0].end_time }}</td>
	            </tr>
				<tr>
	              <td height="28" align="center">周&nbsp;次：</td>
	              <td width="82%" class="word_grey">{{ list[0].week_number }}</td>
	            </tr>
       {% else %}
                <tr>
                    <td width="18%" height="30" align="center">学期已结束！</td>
                </tr>
                <tr>
	              <td width="18%" height="30" align="center">学期名称：</td>
	              <td width="82%" class="word_grey">{{ list[0].name }}</td>
	            </tr>
				<tr>
	              <td width="18%" height="30" align="center">开始时间：</td>
	              <td width="82%" class="word_grey">{{ list[0].start_time }}</td>
	            </tr>
	            <tr>
	              <td height="28" align="center">结束时间：</td>
	              <td width="82%" class="word_grey">{{ list[0].end_time }}</td>
	            </tr>
				<tr>
	              <td height="28" align="center">周&nbsp;次：</td>
	              <td width="82%" class="word_grey">{{ list[0].week_number }}</td>
	            </tr>
        {% endif %}
   </table>
</body>
</html>

{% endblock %}
