{% extends "layout.html" %}

<title>{% block page_title %}
  
    设置页面
  
    {% endblock %}
  </title>




{% block content %}

  <aside class="main-sidebar">
  <section class="sidebar">
  <ul class="sidebar-menu">
  <li class="nav-header">
                        {% block navTeHomepage %}
                            <a class="ajax-link" href="{{ url_for('auth.change_password') }}">
                                <i class="glyphicon glyphicon-home"></i><span>修改密码</span>
                            </a>
                        {% endblock %}
                    </li>

  </ul>
  </section>
  </aside>
    <div class="content-wrapper">
    <section class="content">
<div class="box">
                {% block authContent %}
                {% endblock %}
</div>
                </section>
    </div>


{% endblock %}
