{% extends 'student/index.html'%}

{% block studentContent %}

        {% if flag == 1 %}
            <div class="box-header">
            <h3><strong>团队信息</strong></h3>
            </div>

            <div class="box-body">
            <table class="table table-condensed">
                <tr>
	              <td width="18%" height="30" align="center">团队名称：</td>
	              <td width="82%" class="word_grey">{{ myteam.name }}</td>
	            </tr>
				<tr>
	              <td width="18%" height="30" align="center">团队id：</td>
	              <td width="82%" class="word_grey">{{ myteam.id }}</td>
	            </tr>
	            <tr>
	              <td width="18%"  height="30" align="center">团队状态：</td>
                    {% if myteam.status == 0 %}
	                    <td width="82%" class="word_grey">组建中</td>
                    {% elif  myteam.status == 1 %}
                        <td width="82%" class="word_grey">待审核</td>
                    {% elif  myteam.status == 2 %}
                        <td width="82%" class="word_grey">被驳回</td>
                    {% elif  myteam.status == 3 %}
                        <td width="82%" class="word_grey">已通过</td>
                    {% endif %}

            </table>
            <br><br>
            <h4><strong>团队成员名单</strong></h4>
            <table class="table table-condensed">
            <thead>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>学号</th>
             </tr>
            </thead>

            {% for user in userList %}
                <tr>
                <td>{{ user.name }}</td>
                    {% if user.gender== False %}
                    <td>男</td>
                {% else %}
                    <td>女</td>
                {% endif %}
                <td>{{ user.user_id }}</td>
                </tr>

            {% endfor %}
                    </table>
            <br><br>
            <a width="10%" class="btn btn-primary"  href={{ url_for('student.team') }}> 返回</a></td>
            </div>

        {% elif flag == 0 %}
            <div class="box-header"><h3><strong>你还没有团队，请尽快加入或创建团队</strong></h3>
            <br><br>
            <a width="10%" class="btn btn-primary"  href={{ url_for('student.team') }}> 返回</a></td>
            </div>
        {% endif %}

{% endblock %}