<nav class="navbar navbar-static-top" role="navigation">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}

                    <li><a href="{{ url_for('message.show_unread', id=current_user.id) }}"><span class="glyphicon glyphicon-bell"></span> </a> </li>
                    <li><a href="#">{{ current_user.name }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-user"></span> 登出</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-user"></span> 登录</a></li>
                {% endif %}

            </ul>

            <ul class="nav navbar-nav navbar-right" id="nav-links">
                <!--<li class="active"><a href="{# {% url 'OnlineTeaching.views.index' %} #}">首页</a></li>-->
                <li><a href="{{ url_for('public.home') }}">首页</a></li>
                <!--<li><a href="javascript:void(0)">新闻公告</a></li>
                <li><a href="javascript:void(0)">课程浏览</a></li>-->

                {% if current_user.is_authenticated %}
                    <li>
                        {% if current_user.roleString == 'admin' %}
                            <a href="{{ url_for('admin.home') }}">管理员个人中心</a>
                        {% elif current_user.roleString == 'teacher'%}
                            <a href="{{ url_for('teacher.home') }}">教师个人中心</a>
                        {% elif current_user.roleString == 'student' %}
                            <a href="{{ url_for('student.home') }}">学生个人中心</a>
                        {% endif %}
                    </li>
                {% endif %}
                <li>

                        <a>          </a>
                </li>


            </ul>

        </div><!-- /.navbar-collapse -->
        </nav>
</nav>

