{% extends "teacher/index.html" %}

{% block teacherContent %}
    <div class="box-header"><h3><strong>课程信息</strong></h3></div>
    {% if list|length > 0 %}
    <div class="box-header"><h4><strong>当前学期课程</strong></h4></div>
    <div class="box-body"><table class="table table-bordered table-hover definewidth m10" style="width: 100%;table-layout:fixed">
    <thead>
    <tr>
        <th style="width: 7%">课程名称</th>
        <th style="width: 4%">学分</th>
        <th style="width: 8%">开始时间</th>
        <th style="width: 8%">结束时间</th>
        <th style="width: 7%">上课地点</th>
        <th style="width: 8%">课程介绍</th>
        <th style="width: 8%;word-wrap:break-word">课程大纲</th>
        <th style="width: 7%">所属学期</th>
        <th style="width: 7%">学生列表</th>
        <th style="width: 25%">管理</th>


    </tr>
    </thead>
    {% for course in list %}
        <tr >
        {% if course.term_id == term.id %}
                <td >{{ course.name }}</td>
                <td style="width: 5%">{{ course.credit }}</td>
                <td style="width: 5%">{{ course.start_time }}</td>
                <td style="width: 5%">{{ course.end_time }}</td>
                <td style="width: 5%">{{ course.location }}</td>
                <td style="width: 100px;overflow: hidden">{{ course.course_introduction }}</td>
                <td style="width: 100px;overflow: hidden">{{ course.course_outline }}</td>
                <td style="width: 5%">{{ course.term.name }}</td>
                <td style="width: 5%"> <a href="{{ url_for('teacher.student',id=course.id) }}" class="btn btn-primary">查看</a></td>
                <td> <a href="{{ url_for('teacher.course_edit',teacherid=current_user.id,id=course.id) }}" class="btn btn-primary">编辑</a>&nbsp;
                                <a href="{{ url_for('teacher.task',courseid=course.id) }}" class="btn btn-primary">作业</a>&nbsp;
                                <a href="{{ url_for('teacher.source',courseid=course.id) }}" class="btn btn-primary">资源</a>&nbsp;
                                <a href="{{ url_for('teacher.grade') }}" class="btn btn-primary">成绩</a>
                </td>

        {% endif %}

        </tr>
    {% endfor %}


       </table>

    <div class="box-header"><h4><strong>以往学期课程</strong></h4></div>
    <table class="table table-bordered table-hover definewidth m10"  style="width: 100%;table-layout:fixed">
    <thead>
    <tr>
        <th style="width: 7%">课程名称</th>
        <th style="width: 4%">学分</th>
        <th style="width: 8%">开始时间</th>
        <th style="width: 8%">结束时间</th>
        <th style="width: 7%">上课地点</th>
        <th style="width: 8%;height: 50px;word-wrap:break-word">课程介绍</th>
        <th style="width: 8%;height: 50px;word-wrap:break-word">课程大纲</th>
        <th style="width: 7%">所属学期</th>
        <th style="width: 7%">学生列表</th>
        <th style="width: 25%">管理</th>


    </tr>
    </thead>
    {% for course in list %}
        <tr>
        {% if course.term_id < term.id %}
                       <td >{{ course.name }}</td>
                <td style="width: 5%">{{ course.credit }}</td>
                <td style="width: 5%">{{ course.start_time }}</td>
                <td style="width: 5%">{{ course.end_time }}</td>
                <td style="width: 5%">{{ course.location }}</td>
                <td style="width: 100px;overflow: hidden">{{ course.course_introduction }}</td>
                <td style="width: 100px;overflow: hidden">{{ course.course_outline }}</td>
                <td style="width: 5%">{{ course.term.name }}</td>

                        <td> <a href="{{ url_for('teacher.student',id=course.id) }}" class="btn btn-primary">查看</a></td>
                        <td> <a href="{{ url_for('teacher.former_task_file_download_zip',courseid = course.id) }}" class="btn btn-primary">下载课程作业</a>
                        </td>
        {% endif %}

        </tr>
    {% endfor %}


       </table>

</div>
    {% else %}
    <div class="box-body">
        <h3><strong>当前没有课程</strong></h3>

    </div>
    {% endif %}

{% endblock %}
