{% extends "teacher/index.html" %}

{% block teacherContent %}
    <div class="box-header"><h3><strong>课程信息</strong></h3></div>
    {% if list|length > 0 %}
    <div class="box-header"><h4><strong>当前学期课程</strong></h4></div>
    <div class="box-body"><table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>课程名称</th>
        <th>学分</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>上课地点</th>
        <th>课程介绍</th>
        <th>课程大纲</th>
        <th>所属学期</th>
        <th>学生列表</th>
        <th>管理</th>


    </tr>
    </thead>
    {% for course in list %}
        <tr>
        {% if course.term_id == term.id %}
                <td>{{ course.name }}</td>
                <td>{{ course.credit }}</td>
                <td>{{ course.start_time }}</td>
                <td>{{ course.end_time }}</td>
                <td>{{ course.location }}</td>
                <td>{{ course.course_introduction }}</td>
                <td>{{ course.course_outline }}</td>
                <td>{{ course.term.name }}</td>
                <td> <a href="{{ url_for('teacher.student',id=course.id) }}" class="btn btn-primary">查看</a></td>
                <td> <a href="{{ url_for('teacher.course_edit',teacherid=current_user.id,id=course.id) }}" class="btn btn-primary">编辑课程</a>&nbsp;
                                <a href="{{ url_for('teacher.task',courseid=course.id) }}" class="btn btn-primary">作业管理</a>&nbsp;
                                <a href="{{ url_for('teacher.source',courseid=course.id) }}" class="btn btn-primary">资源管理</a>&nbsp;
                                <a href="{{ url_for('teacher.grade') }}" class="btn btn-primary">查看成绩</a>
                </td>

        {% endif %}

        </tr>
    {% endfor %}


       </table>

    <div class="box-header"><h4><strong>以往学期课程</strong></h4></div>
    <table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>课程名称</th>
        <th>学分</th>
        <th>开始时间</th>
        <th>上课地点</th>
        <th>课程介绍</th>
        <th>课程大纲</th>
        <th>所属学期</th>
        <th>学生列表</th>
        <th>管理</th>


    </tr>
    </thead>
    {% for course in list %}
        <tr>
        {% if course.term_id < term.id %}
                        <td>{{ course.name }}</td>
                        <td> {{ course.credit }}</td>
                        <td>{{ course.start_time }}</td>
                        <td>{{ course.location }}</td>
                        <td>{{ course.course_introduction }}</td>
                        <td>{{ course.course_outline }}</td>
                        <td>{{ course.term.name }}</td>

                        <td> <a href="{{ url_for('teacher.student',id=course.id) }}" class="btn btn-primary">查看</a></td>
                        <td> <a href="{{ url_for('teacher.former_task_file_download_zip',courseid = course.id) }}" class="btn btn-primary">下载课程作业</a>
                        </td>
        {% endif %}

        </tr>
    {% endfor %}


       </table>

</div>
    {% else %}
    <div class="box-body">
        <p>当前没有课程</p>

    </div>
    {% endif %}

{% endblock %}
