{% extends "teacher/index.html" %}

{% block teacherContent %}
<table class="table table-bordered table-hover definewidth m10" style="margin-left:3%;margin-top:2%;">
    <tr>
        <td width="10%" class="tableleft">课程名称</td>
        <td>{{ course.name}}</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">课程学分</td>
        <td>{{ course.credit}}</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">课程介绍</td>
        <td><input type="text" name="bigTypeName" style="height: 41px; width: 546px"/></td>

    </tr>
    <tr>
        <td class="tableleft">课程大纲</td>
        <td><input type="text" name="typeIntroduce" style="height: 93px; width: 546px"/></td>
    </tr>

    <tr>
        <td class="tableleft"></td>
        <td>
            <a style="margin-left:180px;
            "type="submit" class="btn btn-primary" type="button">保存</a>&nbsp;&nbsp;
            <a type="button" ><a href="">返回列表</a></a>
        </td>
    </tr>
</table>



{% endblock %}