{% extends "teacher/index.html" %}
{% import "bootstrap/wtf.html" as wtf  %}

{% block teacherContent %}
    <div class="box-header">
        <h3><strong>作业文件管理</strong></h3>
    </div>
    <div class="box-body">

    {% if file_records|length>0 %}
        <a href="{{ url_for('teacher.task_file_download_zip', courseid=courseid, taskid=taskid) }}" class="btn btn-primary">打包下载</a>
    {% endif %}

    <table class="table">
        {% if file_records|length>0 %}
        <thead>
        <td>文件名</td>
        <td>操作</td>
        </thead>
    {% else %}
    <p>文件列表为空</p>
    {% endif %}
        {% for file_record in file_records %}
        <tr>
            <td>
                {{ file_record.name }}
            </td>
            <td>
                <a class="btn btn-primary" href="{{ url_for('teacher.task_file_download', courseid=courseid, taskid=taskid, fileid=file_record.id) }}">下载</a>
                <a class="btn btn-danger" href="{{ url_for('teacher.task_file_delete', courseid=courseid, taskid=taskid, fileid=file_record.id,userid = current_user.id) }}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>

        <br><br>

    <form action="" method="post" class="form" enctype="multipart/form-data" role="form">

<div class="form-group  has-error required"><label class="control-label" for="file">资源上传</label>

          <input id="file" name="file" required="" type="file" multiple="multiple">

            <p class="help-block">请选择文件</p>
  </div>

    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="上传">
        <br><br>
</form>
    <a class="btn btn-primary" href="{{ url_for('teacher.task_edit', courseid=courseid,id=taskid) }}">返回</a>
    </div>
{% endblock %}