{% extends "layout.html" %}


{% block content %}

<aside class="main-sidebar" style="min-height: 800px">
  <section class="sidebar">
  <ul class="sidebar-menu">
  <li class="nav-header">
                        {% block navTeHomepage %}
                            <a class="ajax-link" href="{{ url_for('teacher.home') }}">
                                <i class="glyphicon glyphicon-home"></i><span>我的主页</span>
                            </a>
                        {% endblock %}
                    </li>

                    <li>
                        {% block navCourseSet %}
                            <a class="ajax-link"
                               href="{{ url_for('teacher.course', teacherid=current_user.id) }}">
                                <i class="glyphicon glyphicon-list-alt"></i><span>课程管理</span>
                            </a>
                        {% endblock %}
                    </li>




                    <li>
                        {% block navTeamAudit %}
                            <a class="ajax-link"
                               href="{{ url_for('teacher.team') }}">
                                <i class="glyphicon glyphicon-ok"></i><span>团队审批</span>
                            </a>
                        {% endblock %}
                    </li>

                    
  </ul>
  </section>
  </aside>
    <div class="content-wrapper">
    <section class="content">
<div class="box" style="min-height: 735px">
                {% block teacherContent %}
                {% endblock %}
    </div>
                </section>
    </div>

    

{% endblock %}
