{% extends "teacher/index.html" %}

{% block teacherContent %}
        <div class="box-header">
    <h3><strong>课程资源管理</strong></h3>
    </div>
    <div class="box-body">
    <a href="{{ url_for('teacher.source', courseid=courseid) }}" class="btn btn-primary active">全部分类</a>
    {% for tag in tags %}
    <a href="{{ url_for('teacher.source_tag', courseid=courseid, tagid=tag.id) }}" class="btn btn-primary">{{ tag.name }}</a>
    {% endfor %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTag">
  创建新分类
</button>


    {% if file_records|length>0 %}
        <a style="float: right" href="{{ url_for('teacher.source_file_download_zip', courseid=courseid) }}" class="btn btn-primary">打包下载</a>
    {% endif %}


    <table class="table">
        {% if file_records|length>0 %}
        <thead>
        <td>资源名</td>
        <td>标签</td>
        <td>操作</td>
        </thead>
    {% else %}
    <p>文件列表为空</p>
    {% endif %}
        {% for file_record in file_records %}
        <tr>
            <td>
                {{ file_record.name }}
            </td>
            <td>
                {{ tag_names[file_record.tag_id] }}
            </td>
            <td>
                <a class="btn btn-primary" href="{{ url_for('teacher.source_download', courseid=courseid,fileid=file_record.id) }}">下载</a>
                <a class="btn btn-danger" href="{{ url_for('teacher.source_delete', courseid=courseid,fileid=file_record.id) }}">删除</a>
            </td>
        </tr>
        {% endfor %}
    </table>

        <br><br>


     <br>
     <a class="btn btn-primary" href="{{ url_for('teacher.course',teacherid = current_user.id) }}">返回</a>

    </div>


    <div id="newTag" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="left: auto">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">标签名称</h4>
      </div>
      <div class="modal-body">
        <input text="text" class="form-control" id="tagName" placeholder="Tag名称...">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="newButton">新建</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <div style="display: none;" >
     <a id="ahref" href=""><li id="addTag"></li></a>
    </div>




    <script>
$(document).ready(function(){
  $("#newButton").click(function(){
      var tagname = $("#tagName").val()
      $("#ahref").attr("href", "{{ url_for('teacher.tag_add', courseid=courseid, tagname="") }}"+tagname)
      //alert(tagname)

    $("#addTag").click();
  });
});
</script>

{% endblock %}