{% extends "teacher/index.html" %}


{% block teacherContent %}
    <div class="box-header"><h3><strong>学生列表</strong></h3></div>
    <div class="box-body">
    <table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>姓名</th>
        <th>性别</th>
        <th>学号</th>

    </tr>

    </thead>



    {% for student in list %}
        {% if student.roleString=='student' %}

        <tr>
                <td>{{ student.name }}</td>
                {% if student.gender== False %}
                    <td>男</td>
                {% else %}
                    <td>女</td>
                {% endif %}
                <td>{{ student.user_id }}</td>


        </tr>
        {% endif %}
    {% endfor %}
    </table>
    <br><br>
    <th><a  class="btn btn-primary" href="{{ url_for('teacher.course') }}">返回列表</a> </th>
    </div>

{% endblock %}
