{% extends "teacher/index.html" %}

{% block teacherContent %}

    <div class="box-header"><h3><strong>作业信息</strong></h3></div>
    <div class="box-body">
    <table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>作业名称</th>
        <th>开始时间</th>
        <th>截止时间</th>
        <th>提交次数</th>
        <th>作业权重</th>
        <th>作业描述</th>
        <th>教师</th>


{% for task in list %}
    </tr>
    </thead>
        <tr>
                <td>{{ task.name}}</td>
                <td>{{ task.start_time }}</td>
                <td>{{ task.end_time}}</td>
                <td>{{ task.submit_num }}</td>
                <td>{{ task.weight }}</td>
                <td>{{ task.content }}</td>
                <td>{{ task.teacher }}</td>


        </tr>

{% endfor %}
       </table>
<br><br>
    <a class="btn btn-primary" href="{{ url_for('teacher.task',courseid=courseid,id=current_user.id) }}">返回上一页</a>
</div>

{% endblock %}