{% extends "teacher/index.html" %}

{% block teacherContent %}
    <div class="box-header"><h3><strong>{{ taskname.name }}作业批改</strong></h3></div>
    <div class="box-body">
    {% if flag %}
        <a class="btn btn-primary" href="{{ url_for('teacher.score_download',taskid=taskname.id) }}">导出成绩信息</a>
    <table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>小组名称</th>
        <th>作业分数</th>
        <th>所占权重</th>
        <th>编辑</th>
    </tr>
    </thead>
    {% for task in list %}
        <tr>
            <td>{{ task.name }}</td>
            {% if task.score<0 %}
            <td>还未评分</td>
            {% else %}
            <td>{{ task.score }}</td>
            {% endif %}
            <td>{{ task.weight }}</td>
            {% if task.submit_num != 0 %}
                <td><a class="btn btn-primary" href="{{ url_for('teacher.task_edit_score',courseid=courseid,taskid=taskname.id,teamid=task.team_id) }}">设置分数</a></td>
            {% else %}
                <td>未提交</td>
            {% endif %}
        </tr>
    {% endfor %}

    </table>
    {% else %}
        <th>这项作业还未截止！暂时不能批改</th>
    {% endif %}
        <br><br>
 <a href="{{ url_for('teacher.task',courseid=courseid) }}" class="btn btn-primary">返回</a>&nbsp;

    </div>
{% endblock %}