{% extends "teacher/index.html" %}

{% block teacherContent %}
    <form class="form-inline definewidth m20" action="#" method="get">
        <a class="btn btn-primary" href={{ url_for('teacher.add') }}>添加</a>
    </form>

    <table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>作业名称</th>




        <th>管理菜单</th>
    </tr>
    </thead>
        {% for task in list %}

        <tr>
                <td>{{ task.name }}</td>


                <td>
                    <a class="btn btn-primary" href="{{ url_for('teacher.delete',id =task.id) }}">删除</a>
                <a class="btn btn-primary" href="{{ url_for('teacher.task_edit',id=task.id) }}">编辑</a>
                </td>


        </tr>
    {% endfor %}


       </table>
{% endblock %}