{% extends 'teacher/index.html'%}

{% block teacherContent %}
    <div class="box-header">
<h3><strong>学生团队</strong></h3><br>
    <td align="center">
        <a  class="btn btn-primary" href="{{ url_for('teacher.to_adjust') }}">团队调整</a>
    </td>
    </div>
    <div class="box-body">
    <a href="{{ url_for('teacher.team_download') }}" class="btn btn-primary">生成团队报表</a> <br><br>
   <table class="table table-condensed">
       <tr>
           <td width="15%" height="30" align="center">
               团队名称
           </td >
           <td width="15%" height="30" align="center">
               团队组长
           </td>
           <td width="15%" height="30" align="center">
               团队状态
           </td>
           <td width="15%" height="30" align="center">
               操作
           </td>
       </tr>
       {% for l in list %}
       <tr>
           <td width="25%" class="word_grey" align="center"><a href="{{ url_for('teacher.team_detail',teamid=l.id) }}">{{ l.name }}</a></td>
             <td width="25%" class="word_grey" align="center">{{ l.username }}</td>
           {% if l.status==0 %}
             <td width="30%" class="word_grey" align="center">组建中</td>
                <td align="center"><a  class="btn btn-primary" disabled="disabled" style="background-color: #0f0f0f">不能操作</a></td>
           {% elif l.status==1 %}
             <td width="25%" class="word_grey" align="center">待审核</td>
               <td align="center"> <a  class="btn btn-primary" href="{{ url_for('teacher.permit',teacherid=current_user.id,teamid=l.id) }}">同意</a>
               <a class="btn btn-danger" href="{{ url_for('teacher.rejectreason',teacherid=current_user.id,teamid=l.id) }}">拒绝</a></td>
           {% elif l.status==2 %}
                 <td width="25%" class="word_grey" align="center">被驳回</td>
               <td align="center"><a  class="btn btn-primary" disabled="disabled" style="background-color: #0f0f0f">已被驳回</a></td>
           {% elif l.status==3 %}
                 <td width="25%" class="word_grey" align="center">已完成</td>
               <td align="center"><a  class="btn btn-success" disabled="disabled">成功组队</a></td>
           {% endif %}
       </tr>
       {% endfor %}
   </table>
    </div>

{% endblock %}