{% extends "student/index.html" %}

{% block studentContent %}

    <br><br>
    <div class="box-header"><h3><strong>课程信息：</strong></h3></div>
    <div class="box-body">
    <table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>课程名称</th>
        <th>学分</th>
        <th>开始时间</th>
        <th>上课地点</th>

        <th>课程介绍</th>
        <th>课程大纲</th>
        <th>所属学期</th>
        <th>操作</th>


    </tr>
    </thead>
    {% for course in list %}
        <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.credit }}</td>
                <td>{{ course.start_time }}</td>
                <td>{{ course.location }}</td>
                <td>{{ course.course_introduction }}</td>
                <td>{{ course.course_outline }}</td>
                <td>{{ course.term_id }}</td>
                <td>    <a width="10%" class="btn btn-primary"  href="{{ url_for('student.tasklist',courseid=course.id) }}">
                    查看作业</a></td>


        </tr>
    {% endfor %}
       </table>
    <br>
    <a width="10%" class="btn btn-primary"  href={{ url_for('student.home') }}> 返回上一页</a></td>
    </div>

{% endblock %}
