{% extends "student/index.html" %}
{% import "bootstrap/wtf.html" as wtf  %}

{% block studentContent %}
    <div class="box-header">
    <h3><strong>队员评分</strong></h3>
    </div>
    <div class="box-body">



    <form method="post" class="form-horizontal" style="align-content: center">
     <table class="table">
        <thead>
        <td>
            姓名
        </td>
        <td>系数</td>
        <td>表现分</td>
        </thead>

       {% for field in form %}
           {%- if loop.index is not even %}
           <div class="form-group required">
           <tr>
           <td>{{ field.label() }}</td>

               <td>{{ field(class="form-control", style='width: 100px', required="required") }}</td>

           {% else %}

               <td> {{ field(class="form-control", style='width: 100px', required="required") }}</td>
 </tr>
           </div>
           {% endif %}


        {% endfor %}

  </table>
     <input style="align-self: center"  id="submit" name="submit" type="submit" value="提交" class="btn btn-primary">
     &nbsp;&nbsp;<a class="btn btn-primary" href={{url_for('student.course') }}>返回</a>
    </form>


    </div>

{% endblock %}