{% extends "layout.html" %}

{% block content %}

<aside class="main-sidebar" style="min-height: 800px">
  <section class="sidebar">
  <ul class="sidebar-menu">
  <li class="nav-header">
                        {% block navTeHomepage %}
                            <a class="ajax-link" href="{{ url_for('message.show_unread', id=current_user.id) }}">
                                <i class="glyphicon glyphicon-home"></i><span>未读信息</span>
                            </a>
                        {% endblock %}
                    </li>
                    <li>
                        {% block navCourseSet %}
                            <a class="ajax-link"
                               href="{{ url_for('message.show_all', id=current_user.id) }}">
                                <i class="glyphicon glyphicon-list-alt"></i><span>所有信息</span>
                            </a>
                        {% endblock %}
                    </li>
                    <li>

                            <a class="ajax-link"
                               href="{{ url_for('message.send') }}">
                                <i class="glyphicon glyphicon-pencil"></i><span>发送消息</span>
                            </a>
                    </li>
  </ul>
  </section>
  </aside>
    <div class="content-wrapper">
    <section class="content">

    <div class="box" style="min-height: 735px">
                {% block messageContent %}
                {% endblock %}
    </div>
                </section>
    </div>

    {{ moment.lang('en') }}


{% endblock %}
