{% extends 'message/base.html'%}

{% block messageContent %}

    <div class="box-header">
    <h3>消息详情</h3>
    </div>
    <div class="box-body">
    <a class="btn btn-default" href="{{ url_for('message.show_all', id=current_user.id) }}">返回</a>
    <div class="container-fluid">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">标题</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{ message.title }}</p>
            </div>
        </div>
    <div class="form-group">
            <label class="col-sm-2 control-label">发件人</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{ name }}</p>
            </div>
        </div>
    <div class="form-group">
            <label class="col-sm-2 control-label">发送时间</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{ moment(message.create_time).fromNow() }}</p>
            </div>
        </div>
    <div class="form-group">
<label class="col-sm-2 control-label">内容</label>
        <div class="col-sm-10">
            <textarea rows="10" class="form-control">{{ message.message }}</textarea>
            </div>
        </div>

    </form>
    </div>
    </div>



{% endblock %}