{% extends 'admin/base.html'%}

{% block adminContent %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="Css/style.css" />
    <script type="text/javascript" src="Js/jquery.js"></script>
    <script type="text/javascript" src="Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="Js/bootstrap.js"></script>
    <script type="text/javascript" src="Js/ckform.js"></script>
    <script type="text/javascript" src="Js/common.js"></script>
    <script type="text/javascript" src="js/showdate.js"></script>
    <style type="text/css">
        body {font-size: 20px;
             padding-bottom: 40px;
             font-size:17px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<form action="#" method="post">
<table class="table table-bordered table-hover definewidth m10" style="margin-left:3%;margin-top:2%;">
    <tr>
        <td width="10%" class="tableleft">公告标题</td>
        <td><input type="text" name="bigTypeName" style="height: 41px; width: 546px"/></td>

    </tr>
    <tr>
        <td class="tableleft">内容</td>
        <td><input type="text" name="typeIntroduce" style="height: 93px; width: 546px"/></td>
    </tr>
    <tr>
        <td class="tableleft">开始时间</td>
        <td style="height: 46px; "> <div style="margin:0 auto;">
	             <input type="date" id="time1" onClick="return Calendar('time1');" class="text_time"/>
             </div>
        </td>
    </tr>
    <tr>
        <td class="tableleft">结束时间</td>
        <td> <div style="margin:0 auto;">
	             <input type="date" id="time2" onClick="return Calendar('time2');" class="text_time"/>
             </div>
        </td>
    </tr>
    <tr>
        <td class="tableleft"></td>
        <td>
            <button style="margin-left:180px "type="submit" class="btn btn-primary" type="button">保存</button>&nbsp;&nbsp;<button type="button" ><a href="afficheQuery.html">返回列表</a></button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
function jump(){
 window.location.href="placardQuery.html";
}
</script>
{% endblock %}